/* .App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/769133.jpg");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
