body {
  margin: auto;
  background-image: url("https://wallpaperaccess.com/full/769133.jpg");
  background-position-x: center;
}

/* @media (max-width: 1340px) {
  body {
    background-position: center;
  }
} */
